.s-navbar{
    position: relative;
    padding: 10px 0px;
    transform: translateY(-40px);
}

.s-navbar > * {
    display: inline-block;
}

.s-input{
    border: 2px solid #FFDA00;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 70%;
    transform: scale(1.2)
}

.s-navbar span:nth-child(1){
    padding: 8px;
}

.s-navbar span:nth-child(3){
    padding: 8px 10px;
    background-color: #ffda00;
}

.s-navbar input{
    border: none;
    outline: none;
    margin :4px;
    width: 300px;
}

.s-navbar ul{
    position: absolute;
    left: 70%;
    top: 70%;
    list-style: none;
    font-size: 16px;
}

.s-navbar ul li {
    display: inline-block;
    margin: 0px 10px;
}

